.header {
  height: 86px;
  border-radius: 20px;
  background-color: var(--bg-cards);
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px;
  margin-bottom: 30px;
}

.header strong {
  font-weight: 700;
  font-size: 20px;
  line-height: 25px;
}

.header span {
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
}
